.grid {
    margin: 0 auto;
}

.grid-item {
    width: 100%;
    overflow: hidden;
    margin-bottom: 47px;
    box-sizing: border-box;
    float: left;
}

.grid-inner {
    max-width: 350px;
    margin: 0 auto;
    position: relative;
}

.type-short {
    height: 270px;
}

.type-long {
    height: 470px;
}

.posts-area {
    margin-bottom: 75px;
    img {
        display: block;
    }
    .description {
        padding: 30px 20px 0 25px;
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        color: $desc_text;
        text-decoration: none;
        background: rgba(0,0,0,0.3);
        transition: all 0.3s;
        &:hover {
            background: #000;
        }
        a {
            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: all 0.3s;
            &:hover {
                border-bottom: 1px solid $desc_text;
            }
        }
    }
    .description-dark {
        background: #000;
    }
    .date {
        font-size: 15px;
        margin-left: -10px;
    }
    .category-label {
        background: #fff;
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        position: absolute;
        padding: 13px 15px;
        top: -39px;
        left: 0;
    }
    h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
        margin-top: 9px;
    }
    .load-more {
        border: 2px solid $link_color;
        color: $link_color;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
        background: transparent;
        margin: 0 auto;
        display: block;
        padding: 20px 80px 18px;
        line-height: 20px;
        margin-top: -7px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: $link_hover_color;
            border: 2px solid $link_hover_color;
        }
    }
}

@media screen and (min-width: 385px) {
    .grid-item {
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 650px) {
    .grid {
        width: 100% !important;
    }
}

@media screen and (min-width: 650px) {
    .grid-sizer,
    .grid-item {
        width: calc(50% - 25px);
    }

    .grid-item {
        img {
            width: auto;
            height: 100%;
        }
    }

    .posts-area {
        .load-more {
            padding: 20px 129px 18px;
        }
    }

}

@media screen and (min-width: 1000px) {
    .grid-sizer,
    .grid-item {
        width: 350px;
    }
}
//@media screen and (min-width: 650px) {
//    .grid-item {
//        width: 350px;
//    }
//}