body {
    font-family: 'Work Sans', sans-serif;
}

.main-site-header {
    overflow: hidden;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

@media screen and ( max-width: 1170px ) {
    .container {
        padding: 0 10px;
    }
}