.footer-info {
    border-top: 1px solid #000;
    padding-top: 33px;
    margin-bottom: 46px;
    h3 {
        margin-bottom: 19px;
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
    }
    p {
        line-height: 25px;
        font-size: 15px;
        margin: 0;
    }
    .about-box {
        .about-us-text {
            margin-bottom: 30px;
        }
    }
    .instagram-box {
        text-align: center;
        margin-bottom: 20px;
        h3 {
           text-align: left;
        }
        a {
            transition: all 0.3s;
            text-decoration: none;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .social-area {
        text-align: center;
        .social-icon {
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            color: $link_hover_color;
            border: 2px solid $link_hover_color;
            padding: 19px 30px;
            transition: all 0.3s;
            text-align: center;
            display: inline-block;
            box-sizing: border-box;
            margin-bottom: 20px;
            &:hover {
                color: #fff;
                background: $link_hover_color;
            }
        }
    }
    .latest-post-box {
        text-align: center;
        h3 {
            margin-bottom: 25px;
            text-align: left;
        }
    }
    .latest-post {
        position: relative;
        display: inline-block;
        width: 200px;
        color: #fff;
        text-align: left;
        img {
            display: block;
        }
        .description {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,.3);
            padding: 14px 13px;
            text-decoration: none;
            color: inherit;
            transition: all 0.3s;
            &:hover {
                background: #000;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .social-icon {
        width: 49%;
    }
}

@media screen and (min-width: 450px) {
    .social-icon {
        width: 150px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1150px) {
    .footer-info .container > div {
        width: 33.33%;
        float: left;
    }
}

@media screen and (min-width: 1000px) {
    .footer-info {
        overflow: hidden;
    }

    .social-area {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1150px) {
    .footer-info {
        & .container > div {
            float: left;
        }
        .about-box {
            width: 350px;
            margin-right: 48px;
        }

        .latest-post-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 450px;
            margin-right: 50px;
            h3 {
                width: 100%;
            }
            .latest-post {
                height: 154px;
                margin-bottom: 50px;
                &:nth-last-of-type(1),
                &:nth-last-of-type(2) {
                    margin-bottom: 0;
                }
            }
        }

        .instagram-box {
            width: 250px;
            display: flex;
            flex-wrap: wrap;
            img {
                display: block;
            }
            h3 {
                width: 100%;
                margin-bottom: 25px;
            }
        }
        .social-area  {
            .social-icon {
                margin-bottom: 48px;
                &:nth-last-of-type(1),
                &:nth-last-of-type(2) {
                    margin-bottom: 0;
                }
            }
        }
    }
}