.menu-box {
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease-out;
    ul {
        padding: 0;
        li {
            font-weight: bold;
            text-transform: uppercase;
            a {
                text-decoration: none;
                color: #000;
                display: block;
                padding: 10px 0;
                border-bottom: 2px solid $link_color;
                transition: all 0.2s;
                &:hover {
                    color: $link_hover_color;
                    border-bottom: 2px solid $link_hover_color;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .menu-box {
        transform: translate(0, -210%);
        position: absolute;
        z-index: 100;
        margin-top: 60px;
        left: 0;
        right: 0;
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
        background: #fff;
        ul {
            margin-bottom: 0;
        }
    }

    .menu-box-active {
        transform: translate(0%,0);
    }
}

@media screen and (min-width: 701px) {
    .menu-box {
        float: right;
        max-width: 75%;
        text-align: right;
        ul {
            margin-top: 33px;
            li {
                margin-right: 10px;
                display: inline-block;
                a {
                    border: 2px solid transparent;
                    padding: 9px 12px;
                    &:hover {
                        color: $link_color;
                        border: 2px solid $link_color;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 901px) {
    .menu-box {
        ul {
            li {
                margin-right: 27px;
                display: inline-block;
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}