.main-site-footer {
    background: #000;
    color: #8e8e8e;
    overflow: hidden;
    padding: 8px;
    .footer-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .copyright {
        font-size: 15px;
    }
    .dev-info {
        padding: 15px 0;
        a {
            transition: all 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .copyright,
    .dev-info {
        text-transform: uppercase;
    }
}