.favorites-section {
    margin-top: 35px;
    margin-bottom: 50px;
    overflow: hidden;
}

.main-new {
    position: relative;
    color: $desc_text;
    img {
        width: 100%;
        display: block;
    }
    .description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: inherit;
        text-decoration: none;
        background: rgba(0,0,0,0.3);
        transition: all 0.3s;
        &:hover {
            background: #000;
        }
    }
    .date {
        font-weight: 500;
        font-size: 15px;
    }
    h2 {
        font-weight: bold;
        a {
            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: all 0.3s;
            &:hover {
               border-bottom: 1px solid #fff;
            }
        }
    }
    .category-label {
        background: #fff;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        padding: 13px 15px;
        top: -39px;
        left: 0;
    }
}

.top-new, .bottom-new {
    position: relative;
    color: $desc_text;
    img {
        width: 100%;
        display: block;
    }
    .description {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: inherit;
        text-decoration: none;
        background: rgba(0,0,0,0.3);
        transition: all 0.3s;
        &:hover {
            background: #000;
        }
    }
    h2 {
        font-weight: bold;
        a {
            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: all 0.3s;
            &:hover {
               border-bottom: 1px solid #fff;
            }
        }
    }
    .category-label {
        background: #fff;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        padding: 13px 15px;
        top: -39px;
        left: 0;
    }
}

@media screen and (max-width: 700px) {
    .main-new,
    .top-new,
    .bottom-new  {
        .description {
            padding: 0 10px;
        }
        .date {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 650px) {
    .main-new {
        h2 {
           font-size: 35px;
        }
    }

}

@media screen and (max-width: 430px) {
    .main-new,
    .secondary-news {
        h2 {
           font-size: 18px;
        }
        .date {
            font-size: 12px;
            margin-top: 5px;
        }
        .category-label {
            padding: 5px 5px;
            top: -24px;
        }
    }


}

@media screen and (min-width: 650px) {
    .main-new,
    .secondary-news {
        float: left;
        .description {
            padding: 5px 10px;
        }
    }

    .main-new {
        width: 60%;
    }

    .secondary-news {
        width: 40%;
        h2 {
            font-size: 14px;
        }
        .date {
            font-size: 12px;
        }
    }

    .bottom-new,
    .top-new {
        overflow: hidden;
        img {
            width: 115.4%;
        }
    }

}

@media screen and (min-width: 1000px) {
    .main-new {
        width: 56.52%;
        .description {
            padding: 40px 47px 0;
        }
        h2 {
            font-weight: 700;
            margin-top: 7px;
            margin-bottom: 26px;
            line-height: 54px;
            font-size: 40px;
        }
        .date {
            margin-left: -30px;
        }
    }
    .secondary-news {
        width: 43.481%;
        .description {
            padding: 27px 47px 0;
            text-decoration: none;
            color: inherit;
            background: rgba(0,0,0,0.3);
            transition: all 0.3s;
            &:hover {
                background: #000;
            }
        }
        h2 {
            font-size: 26px;
            margin-bottom: 19px;
            line-height: 33px;
            margin-top: 11px;
        }
        .date {
            font-size: 15px;
            margin-left: -42px;
        }

    }

    .bottom-new,
    .top-new {
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}